<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="bootstrap.css"/>
		<script src="vue.js"></script>
		<script src="vue-router.js"></script>
		<style>
			td{border: 1px solid red;width: 100px;}
		</style>
	</head>
	<body>
		<div id="app">
			<table>
		        <tr>
		            <th colspan="3">父组件数据</td>
		        </tr>
		        <tr>
		            <td>name</td>
		            <td>{{ name }}</td>
		            <td><input type="text" v-model="name" /></td>
		        </tr>
		        <tr>
		            <td>age</td>
		            <td>{{ age }}</td>
		            <td><input type="text" v-model="age" /></td>
		        </tr>
		    </table>
		
		  <!--  <my-component v-bind:my-name="name" v-bind:my-age="age"></my-component>
		    	默认情况下为单向绑定，即父元素改变子元素会改变，但反之则不行-->
		     <my-component v-bind:my-name.sync="name" v-bind:my-age.sync="age"></my-component>
		  <!-- 加上.sync显式地指定双向绑定，这使得子组件的数据修改会回传给父组件-->
		  	 <!--<my-component v-bind:my-name.once="name" v-bind:my-age.once="age"></my-component>
		  	 可以使用.once显式地指定单次绑定，单次绑定在建立之后不会同步之后的变化，这意味着即使父组件修改了数据，也不会传导给子组件。-->

		</div>
		
		<template id="myComponent">
		    <table>
		        <tr>
		            <th colspan="3">子组件数据</td>
		        </tr>
		        <tr>
		            <td>my name</td>
		            <td>{{ myName }}</td>
		            <td><input type="text" v-model="myName" /></td>
		        </tr>
		        <tr>
		            <td>my age</td>
		            <td>{{ myAge }}</td>
		            <td><input type="text" v-model="myAge" /></td>
		        </tr>
		    </table>
		</template>
	</body>
	<script>
		/*prop默认是单向绑定：当父组件的属性变化时，将传导给子组件，但是反过来不会。这是为了防止子组件无意修改了父组件的状态*/
	
        
       var vm = new Vue({
            el: '#app',
            data:{
            	name:'keepfool',
            	age:28
            },
            components:{
            	'my-component':{
            		template:'#myComponent',
            		props:['myName','myAge']//将父组件数据通过定义好的props属性传递给子组件
            	}
            }
        })
      /*注意：在子组件中定义prop时，使用了camelCase命名法。由于HTML特性不区分大小写，camelCase的prop用于特性时，需要转为 kebab-case（短横线隔开）。例如，在prop中定义的myName，在用作特性时需要转换为my-name。*/  

		
	</script>
</html>
