*{padding: 0;margin: 0;}
figure{position: relative;width: 25%;height: 500px;float: left;overflow: hidden;}
figcaption{position: absolute;top: 0;left: 0;color: white;font-family: "微软雅黑";}
figure img{width:120%;height: 100%;opacity: 0.8;transition: all 0.35s}
figure figcaption p,h2,span,div{transition: all 0.35s}

@media screen and (max-width: 600px){
	figure{width: 50%;}
}
@media screen and (min-width: 600px) and (max-width: 1001px){
	figure{width: 33.3%;}
}
@media screen and (min-width: 1001px){
	figure{width: 25%;}
}

.fg1{background: #2f0000;}
.fg1 figcaption p{background: olivedrab;color: #333;margin: 3px;text-align: center;transform: translate(-280px,0px);}
.fg1 figcaption p:nth-of-type(1){transition-delay: 0.05s;}
.fg1 figcaption p:nth-of-type(2){transition-delay: 0.2s;}
.fg1 figcaption p:nth-of-type(3){transition-delay: 0.35s;}


.fg1 figcaption{padding: 10px;}
.fg1:hover figcaption p{transform: translate(0px,0px);}
.fg1:hover img{transform: translate(-50px,0px);opacity: 0.5;}

.fg2{background: #030;}
.fg2 figcaption{width: 100%;height: 100%;}
.fg2 figcaption h2{margin-left: 15%;margin-top: 35%;}
.fg2 figcaption p{transform: translate(0,20px);opacity: 0;margin-left: 15%;}
.fg2 figcaption div{border: 2px solid #FFFF00;width: 80%;height: 50%;position: absolute;top: 10%;left: 10%;transform: translate(0px,-500px) rotate(0deg)}
.fg2:hover figcaption div{transform:translate(0px,0px) rotate(360deg);}
.fg2:hover img{opacity: 0.5;}
.fg2:hover p{opacity: 1;transform:translate(0px,0px)}


.fg3{background: lightgreen;}
.fg3 figcaption{top: 30%;left: 15%;}
.fg3 figcaption h2{transform: skew(90deg);}
.fg3 figcaption p{transform: skew(90deg);transition-delay: 0.05s;}
.fg3:hover img{opacity: 0.5;}
.fg3:hover figcaption h2{transform: skew(0deg);}
.fg3:hover figcaption p{transform: skew(0deg);}

.fg4{background: coral;}
.fg4 figcaption{width: 100%;height: 100%;}
.fg4 figcaption h2{margin-left: 15%;margin-top: 35%;}
.fg4 figcaption p{transform: translate(0,20px);opacity: 0;margin-left: 15%;}
.fg4 figcaption div{border: 2px solid #FFFF00;width: 80%;height: 50%;position: absolute;top: 10%;left: 10%;transform: scale(1.2,1.2);opacity: 0;}
.fg4:hover figcaption div{transform:scale(1,1);opacity: 1;}
.fg4:hover img{transform:scale(1.2,1.2);opacity: 0.6;}
.fg4:hover p{opacity: 1;transform:translate(0px,0px)}

.fg5{background: deepskyblue;}
.fg5 figcaption{width: 100%;height: 100%;}
.fg5 figcaption h2{margin-left: 15%;margin-top: 25%;}
.fg5 figcaption p{transform: translate(0,20px);opacity: 0;margin-left: 15%;}
.fg5 figcaption div{position: absolute;opacity: 0;}
.fg5 figcaption div:nth-of-type(1){border-top: 2px solid #FFFF00;border-bottom: 2px solid #FFFF00;width: 0%;height: 40%;;top: 30%;left: 5%;}
.fg5 figcaption div:nth-of-type(2){border-left: 2px solid #FFFF00;border-right: 2px solid #FFFF00;width: 80%;height: 0%;top: 25%;left: 10%;}
.fg5:hover figcaption div:nth-of-type(1){width: 90%;height: 40%;;top: 30%;left: 5%;transition-delay: 0.2s;}
.fg5:hover figcaption div:nth-of-type(2){border-left: 2px solid #FFFF00;border-right: 2px solid #FFFF00;width: 80%;height: 50%;top: 25%;left: 10%;transition-delay: 0.3s;}

.fg5:hover figcaption div:nth-of-type(1){transition-delay: 0.1s;}
.fg5:hover figcaption div{transform:scale(1,1);opacity: 1;}
.fg5:hover img{transform:scale(1.2,1.2);opacity: 0.6;}
.fg5:hover p{opacity: 1;transform:translate(0px,0px)}

